@utility prose-lime {
  @apply prose;

  --tw-prose-body: var(--color-lime-100);
  --tw-prose-headings: var(--color-lime-50);
  --tw-prose-lead: var(--color-lime-200);
  --tw-prose-links: var(--color-lime-300);
  --tw-prose-bold: var(--color-lime-50);
  --tw-prose-counters: var(--color-lime-200);
  --tw-prose-bullets: var(--color-lime-300);
  --tw-prose-hr: var(--color-lime-600);
  --tw-prose-quotes: var(--color-lime-100);
  --tw-prose-quote-borders: var(--color-lime-400);
  --tw-prose-captions: var(--color-lime-300);
  --tw-prose-code: var(--color-lime-200);
  --tw-prose-pre-code: var(--color-lime-100);
  --tw-prose-pre-bg: var(--color-lime-950);
  --tw-prose-th-borders: var(--color-lime-600);
  --tw-prose-td-borders: var(--color-lime-700);


  h1 { @apply decoration-double; }
  h3 { @apply decoration-dashed; }
  h2 { @apply decoration-solid; }
  h4 { @apply decoration-dotted; }
  h1, h2, h3, h4  { @apply mt-0 font-bold underline underline-offset-4; }
  a { @apply hover:underline hover:text-white; }
  p { @apply mb-0 wrap-anywhere whitespace-normal; }
}
